body {
    margin: 40px;
}

p {
    margin: 0px;
    padding: 10px;
}

ul {
  list-style-type: none;
  padding-left: 70px;
}

.default_text {
    font-size: 170%;
}

.title {
    font-size: 500%;
    color: black;
    text-indent: 100px;
}

.subtitle {
    font-size: 300%;
    color: black;
    text-indent: 150px;
}

#half_block {
    width: 50%;
    float: left;
}

#one_third_block {
    width: 33%;
    float: left;
}

#two_thirds_block {
    width: 67%;
    float: left;
}
