body {
    margin: 40px;
}
  
p {
    margin: 0px;
    padding: 10px;
}

.default_text {
    font-size: 170%;
}

.title {
    font-size: 500%;
    color: black;
    text-indent: 100px;
}
