<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Player Search</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/homepage.js"></script>
    </head>

    <!-- Overall this page is based on functionality, and html/css can be drastically altered -->
    <body>
        <h2 class="title">ATP Tour</h2>

        <div id = "half_block">
            <p class="default_text">Search Players by Name</p>

            <p><input id="player_string" type="text" />
            <button id="player_search_button">Search for Players</button>
            </p>

            <p><table id="player_results" class="default_text"></table></p>
        </div>

        <div id = "half_block">
            <p class="default_text">Search Tournaments</p>

            <p><input id="tournament_string" type="text" />
            <button id="tournament_search_button">Search for Tournaments</button>
            </p>

            <p><table id="tournament_results" class="default_text"></table></p>
        </div>
    </body>
</html>
