<html lang="en">
    <head>
        <title>Player Search</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/index.css">
        <script type="text/javascript" src="../static/index.js"></script>
    </head>

    <!-- Overall this page is based on functionality, and html/css can be drastically altered -->
    <body>
        <h2 class="title">Search by Player</h2>

        <p class="default_text">Search a specific string and get all of the players that contain that string.</p>

        <p><input id="playerstring" type="text" />
        <button id="playersearchbutton">Search for Players</button>
        </p>

        <p id="playerresults" class="default_text"></p>

    </body>
</html>