<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Player Search</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/index.css">
        <script type="text/javascript" src="../static/index.js"></script>
    </head>

    <!-- Overall this page is based on functionality, and html/css can be drastically altered -->
    <body>
        <h2 class="title">Search by Player</h2>

        <p class="default_text">Search a specific string and get all of the players whose last names contain that string.</p>

        <p><input id="player_string" type="text" />
        <button id="player_search_button">Search for Players</button>
        </p>

        <p><table id="player_results" class="default_text"></table></p>
    </body>
</html>
