<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournament</title>
        <meta charset="UTF-8">
        <meta name = "player_tournament_id" content = {{player_tournament_id}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/player_tournament_page.js"></script>
    </head>

    <body>
        <p class="default_text" id = "breadcrumb">Home > Tournament > Tournament Year</p>
        <h1 class="title" id="tournament_name"></h1><hr class="thick_line">

        <p class="subtitle center_text" id = "player_name"></p>


        <p><table id="matches" class="default_text center_table results_table"></table></p>
    </body>
</html>
