<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournament</title>
        <meta charset="UTF-8">
        <meta name = "player_tournament_id" content = {{player_tournament_id}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/player_tournament_page.js"></script>
    </head>

    <body>
        <h2 class="title" id="tournament_name"></h2>

        <p class="subtitle" id = "player_name"></p>


        <p><table id="matches" class="default_text"></table></p>
    </body>
</html>
