<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Player Year Information</title>
        <meta charset="UTF-8">
        <meta name = "player_id" content = {{player_id}}>
        <meta name = "year" content = {{year}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/player_year_page.js"></script>
    </head>

    <body>
        <h2 id = "player_name" class="title"></h2>
        <h2 id = "year_subtitle" class = "subtitle"></h2>

        <div id = "half_block">
            <p class="default_text">Tournaments Entered:</p>

            <p><ul id = "tournaments"></ul></p>

        </div>

        <div id = "half_block">
            <ul class = "default_text">
                <li>Career Record: <span id = "career_record"></span></li>
                <li>Tournament Wins: <span id = "tournament_wins"></span></li>
                <li>Highest Ranking: <span id = "highest_ranking"></span></li>
            </ul>

        </div>
    </body>
</html>
