<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournament Round Information</title>
        <meta charset="UTF-8">
        <meta name = "tournament_year_id" content = {{tournament_year_id}}>
        <meta name = "round_id" content = {{round_id}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/tournament_round_page.js"></script>
    </head>

    <body>
        <h2 id = "tournament_name" class="title"></h2>

        <p class="subtitle"><span id = "surface"></span></p>
        <p class="subtitle"><span id = "location"></span></p>
        <p class="subtitle"><span id = "champion"></span></p>
        <p class="subtitle"><span id = "round"></span></p>

        <ul class="default_text" id = "matches_list"></ul>
    </body>
</html>
