<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tournament-Year Information</title>
        <meta charset="UTF-8">
        <meta name = "tournament_year_id" content = {{tournament_year_id}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/tournament_year_page.js"></script>
    </head>

    <body>
        <p class="default_text" id = "breadcrumb"></p>
        <h2 id = "tournament_name" class="title"></h2>

        <p class="subtitle">Surface: <span id = "surface"></span></p>
        <p class="subtitle">Location: <span id = "location"></span></p>
        <p class="subtitle">Champion: <span id = "champion"></span></p>

        <div id = "half_block">
            <p class="default_text">Search Players by Name</p>

            <p><input id="player_string" type="text" />
              <button id="player_search_button">Search for Players</button>
            </p>

            <p><ul id="player_results" class="default_text"></ul></p>
        </div>

        <div id = "half_block">
            <p class="default_text">Search by Round</p>
            <select id="round_selector"></select>
            <button id="round_selector_button">Select Round</button>

        </div>
    </body>
</html>
